.footer {
  max-width: 1600px;
  margin: 0 auto;
}

.footer__wrapper {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 136px auto 60px auto;
}

.footer__social {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0 180px 0 0;
}

.footer__social-title {
  margin: 0 30px 0 0;
  color: #372821;
  font-family: "MontserratBold";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.footer__social-line {
  position: absolute;
  top: 30px;
  left: 263px;
  width: 67px;
  height: 2px;
  flex-shrink: 0;
  background: #222;
}

.footer__social-text {
  margin: 22px 0 0 0;
  color: #372821;
  font-family: "GothamProRegular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.9%; /* 32.78px */
  letter-spacing: 0.6px;
}

.footer__social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  margin: 37px 0 0 0;
}

.footer__social-icon {
  position: relative;
}

.social__frame {
}

.social__instagram {
  position: absolute;
  top: 24px;
  left: 23px;
}

.social__telegram {
  position: absolute;
  top: 22px;
  left: 22px;
}

.social__facebook {
  position: absolute;
  top: 22px;
  left: 23px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.footer__nav-title {
  margin: 23px 0 0 0;
  color: #372821;
  font-family: "GothamProBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 163.9%; /* 32.78px */
  letter-spacing: 0.6px;
}

.footer__nav-list {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer__nav-item {
  margin: 34px 110px 0 0;
  color: #969696;
  font-family: "MontserratRegular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.footer_contacts-title {
  margin: 46px 0 0 0;
  color: #372821;
  font-family: "GothamProBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 163.9%; /* 32.78px */
  letter-spacing: 0.6px;
}

.footer__contacts-list {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer__contacts-item {
  margin: 34px 80px 0 0;
  color: #969696;
  font-family: "MontserratRegular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
